body{
    background: #202124;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
html{
    height: 100%;
    font-family: Arial, sans-serif;
}
a:link{
    text-decoration: none;
    color: rgba(255,255,255,.54);
}
a:visited{
    text-decoration: none;
    color: rgba(255,255,255,.54);
}
a:hover{
    text-decoration: underline;
    color: rgba(255,255,255,.54);
}
a:active{
    text-decoration: underline;
    color: rgba(255,255,255,.54);
}
.labas{

}
header{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hd{
    padding: 10px;
}
.icon{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: white;
}
main{
    position: relative;
    top: 0;
    width: 100%;
    text-align:center;
    margin: 0;
    padding: 0;
}
h1{
    padding: 0;
    margin: 0;
    font-size: 100px;
    font-weight:500;
}
form{

}
input{
    margin:  20px;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    outline: none;
    width: 50%;
    border-color: rgba(255,255,255,.54);
    background: transparent;
    color: white;
}
button{
    border-radius: 4px;
    background: #323338;
    color: white;
    height: 35px;
    width:fit-content;
    padding-left:10px;
    padding-right: 10px;
    margin: 5px;
    outline: none;
    border: none;
}
p{
    font-size: small;
    color: rgba(255,255,255,.54);
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display:flex;
    flex-direction: column;
    margin: 0;
}
.feet{
    background: rgb(23,23,23);
    color: rgba(255,255,255,.54);
    padding: 0px;
    margin: 0;
}
/*.feet{  
    height: 40px;
    background: rgb(23,23,23);
    color: rgba(255,255,255,.54);
    padding: 5px;
}*/
.flex-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}
#Lit{
    text-align:start;
    /*padding-top: 20px;*/
    padding: 16px;
}
.foot-1{
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;

}
.foot-2{
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
}
.center{
    /*padding: 20px;*/
    text-align: center;
    padding: 16px;
}       